
<div class="bootstrap-wrapper">
    <div class="container">        
        <app-navbar></app-navbar>
        <div class="row">
			<div class="col-md-8">
                <mat-card >
                <router-outlet></router-outlet>
            </mat-card>
            </div>
			<div class="col-md-4">
                <mat-card >
                    <mat-action-list>
                        <div class="mat-subheader">Menu</div>
                        <button routerLink="admin" class="mat-list-item"><mat-icon mat-list-icon>home</mat-icon>Home</button>
                        <button routerLink="admin/profile" class="mat-list-item"><mat-icon mat-list-icon>account_circle</mat-icon>profile</button>
                    </mat-action-list>
                </mat-card>
            </div>			
		</div>
        <app-footer></app-footer>
    </div>
</div>





