<mat-toolbar color="primary">
  <a routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>My App</span>
  <span class="example-spacer"></span>
  <a *ngIf="!userService.isLoggedIn()" routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">    
    Login
  </a>
  <a *ngIf="!userService.isLoggedIn()" routerLink="/signup" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">    
    Signup
  </a>
  <a *ngIf="userService.isLoggedIn()" routerLink="/user" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">    
    user-page
  </a>
  
  <a *ngIf="userService.isLoggedIn()" routerLink="/signup" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    admin-page
  </a>
  <a *ngIf="userService.isLoggedIn()" routerLink="/signup" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    {{userService.getUser().username}}
  </a>
  <a *ngIf="userService.isLoggedIn()" (click)="userService.logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    logout
  </a>
</mat-toolbar>